<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    >
    <title>Kunkunshi Editor</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/modern-css-reset/dist/reset.min.css"
    />
    <link
      rel="stylesheet"
      href="theme.css"
    >
  </head>

  <body>

    <div id="app">

      <header>
        <h1>Kunkunshi Editor</h1>
        <button title="Play">
          <svg
            style="width:24px;height:24px"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M8,5.14V19.14L19,12.14L8,5.14Z"
            />
          </svg>
        </button>
      </header>

      <nav></nav>

      <aside>

        <div class="compose">

          <table class="tools">
            <tbody>
              <tr class="alterations">
                <td v-for="alteration in alterations">
                  <button>{{ alteration.key }} {{ alteration.romaji.join( ' / ' ) }}</button>
                </td>
              </tr>
              <tr></tr>
              <tr></tr>
            </tbody>
          </table>

          <button class="pause">{{ pause[0].key }}</button>

          <table class="notes">
            <tbody>
              <tr class="bottom">
                <td v-for="note in notes.bottom">
                  <button>{{ note.key }} {{ note.romaji.join( ' / ' ) }}</button>
                </td>
              </tr>
              <tr class="middle">
                <td v-for="note in notes.middle">
                  <button>{{ note.key }} {{ note.romaji.join( ' / ' ) }}</button>
                </td>
              </tr>
              <tr class="top">
                <td v-for="note in notes.top">
                  <button>{{ note.key }} {{ note.romaji.join( ' / ' ) }}</button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

      </aside>

      <article>

        <div
          class="board"
          :class="'maxNotesPerCell_' + this.maxNotesPerCell"
        >
          <div
            v-for="column in board"
            class="column"
          >
            <div
              v-for="cell in column"
              class="cell"
              v-bind:class="{
                part_0: !!cell[ 0 ],
                part_1: !!cell[ 1 ],
                part_2: !!cell[ 2 ],
                part_3: !!cell[ 3 ],
                no_part_0: !cell[ 0 ],
                no_part_1: !cell[ 1 ],
                no_part_2: !cell[ 2 ],
                no_part_3: !cell[ 3 ]
              }"
            >
              <input
                v-on:click="selectInput( { column, cell, index: 0 } )"
                class="cellPart cellPart_0"
                v-model="cell[ 0 ]"
              >
              <input
                v-on:click="selectInput( { column, cell, index: 1 } )"
                v-model="cell[ 1 ]"
                class="cellPart cellPart_1"
              >
              <input
                v-on:click="selectInput( { column, cell, index: 2 } )"
                v-model="cell[ 2 ]"
                class="cellPart cellPart_2"
              >
              <input
                v-on:click="selectInput( { column, cell, index: 3 } )"
                v-model="cell[ 3 ]"
                class="cellPart cellPart_3"
              >
            </div>
          </div>
        </div>

      </article>

      <footer>
        <p>Clement MENORET</p>
      </footer>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script type="module" src="app.js"></script>
  </body>

</html>
